/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); */

@font-face{
    font-family: 'gons';
    src:url(font/Gontserrat-SemiBold.ttf)
}


*{
    margin: 0;
    padding: 0;
    font-family: 'gons', sans-serif;
    box-sizing: border-box;

}
body{
    background: #1d1d1d;
    color: #fff;
}
html {
    scroll-behavior: smooth;
  }
#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(images/background.png); */
    background-size: cover;
    background-position: center;
}
.container{
    position: relative;
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 23px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-family: 'gons', sans-serif;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #009fe3;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}


.header-text{
    /* margin-top: 10%; */
    margin: 300px 50px;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 25px;
}
.header-text h1 mark{
    color: #009fe3;
    /* -webkit-text-stroke: 2px #fff; */
}



mark {
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
            animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, #ffffff 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
  }
  
  @-webkit-keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
  
  @keyframes highlight {
    to {
      background-position: 0 0;
    }
  }

.gambar1{
    /* position: relative; */
    /* overflow: hidden; */
    margin-left: 1000px;
    margin-top: -725px;
}

#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.kol1{
    flex-basis: 35%;
}

.kol1 img {
    width: 504px;
    height: 672px;
    border-radius: 15%;
}

.kol2{
    flex-basis: 60%;
}

.kol2sub{
    font-size: 45px;
    font-weight: 600;
    color: #fff;
}

#funfact{
    padding: 30px 0;

}

.factlist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.factlist div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
}

.factlist div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.factlist div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.factlist div:hover{
    background: #009fe3;
    transform: translateY(-10px);
}


.gambar2 img{
    /* position: relative; */
    /* overflow: hidden; */
    width: 600px;
    height: 350px;
    clip-path: circle();
    align-items: center;
}

.gambar3 img{
    /* position: relative; */
    /* overflow: hidden; */
    width: 600px;
    height: 350px;
    clip-path: circle();
    align-items: center;
}

a#scroll-btn {
    position: absolute;
    height: 10em;
    width: 6.25em;
    border: 0.5em solid #ffffff;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -9.25em;
    border-radius: 3em;
  }
  a#scroll-btn:before {
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    right: 0;
    top: 1.2em;
    height: 1.2em;
    width: 1.2em;
    background-color: #ffffff;
    border-radius: 50%;
    animation: move-down 2s infinite;
  }
  @keyframes move-down {
    80% {
      opacity: 0.5;
    }
    100% {
      transform: translateY(5.3em);
      opacity: 0;
    }
  }
  a#scroll-btn:after {
    position: absolute;
    content: "SCROLL DOWN";
    width: 12em;
    display: block;
    width: 12em;
    text-align: center;
    left: -4.2em;
    bottom: -2.5em;
    font-size: 1.6em;
    color: #ffffff;
    letter-spacing: 3px;
    font-weight: 600;
  }

.kol2 .icon{
    cursor: pointer;
        position: relative;
        scale: calc(0.2);
        bottom: 75px;
        right: 90px;
  }