/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); */

@font-face{
    font-family: 'gons';
    src:url(font/Gontserrat-SemiBold.ttf)
}


*{
    margin: 0;
    padding: 0;
    font-family: 'gons', sans-serif;
    box-sizing: border-box;

}
body{
    background: #1d1d1d;
    color: #fff;
}
html {
    scroll-behavior: smooth;
  }
#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(images/background.png); */
    background-size: cover;
    background-position: center;
}
.container{
    position: relative;
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 23px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-family: 'gons', sans-serif;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #009fe3;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}


.header-text{
    /* margin-top: 10%; */
    margin: 300px 50px;
    font-size: 30px;
    color: #ffffff;
}

.header-text h1{
    font-size: 35px;
    margin-top: -10px;
    color:#fff;
}
.header-text p{
    font-size: 20px;
}
.special-text{
    font-size: 15px !important;
}
.header-text h1 mark{
    color: #009fe3;
    /* -webkit-text-stroke: 2px #fff; */
}

.header-text mark{
    color: #009fe3;
    /* -webkit-text-stroke: 2px #fff; */
}







mark {
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
            animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, #ffffff 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
  }
  
  @-webkit-keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
  
  @keyframes highlight {
    to {
      background-position: 0 0;
    }
  }



.subtitel{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

#funfact{
    padding: 50px 0;
}

.funlist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.sumur{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.sumur img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #009fe3);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.sumur:hover img{
    transform: scale(1.1);
}

.sumur:hover .layer{
    height: 100%;
}






